.bsp
.scala-build
**/.metals
out
files/res/java
files/res/log
files/res/md
files/res/pdf
!files/res/templates
jar
*.db
temp-one-jar

*.aux
*.fdb_latexmk
*.fls
*.log
*.gz
*.rpm
Output.jar
temp
*.jar

cda_scala/target/
