.mvn
.bsp
.scala-build
**/.metals
out
files/res/java
files/res/log
files/res/md
files/res/pdf
!files/res/templates
jar

*.db
temp-one-jar

**/.bloop
*.aux
*.fdb_latexmk
*.fls
*.log
*.gz
*.rpm
Output.jar
temp
*.jar

cda_scala/target/
cda_scala/files/

cda_scala_mvn/target/
cda_scala_mvn/files/
RunnerScriptForClientPackageMakefile
target
files
